


<header xmlns:th="http://www.thymeleaf.org" data-th-fragment="frag-entete">
   
    <section id="nav-title">
        
        <h1>
            <a href="/"><img data-th-src="@{/images/logoENI.png}" alt="Logo de l'application"></a>
            <a href="/" data-th-text="#{nom-application}"></a>
         </h1>

        <div>
            <a href="/?language=fr"><img src="/images/French.webp" alt="Français"></a>
            <a href="/?language=en"><img src="/images/English.webp" alt="English"></a>
        </div>
        
    </section>
    
    <!-- Intégration du fragment de navigation -->
	<div data-th-replace="~{fragments/navigation/fragment-navigation :: frag-nav}"></div>
        
</header>
