


<header xmlns:th="http://www.thymeleaf.org" data-th-fragment="frag-entete">
   
    <section id="nav-title">
        
        <h1>
            <a href="/"><img data-th-src="@{/images/logoENI.png}" alt="Logo de l'application">
                <span data-th-text="ENI-Enchères"></span></a>
        </h1>

        <div>
            <a href="/setLanguage/fr"><img src="/images/French.webp" alt="Français"></a>
            <a href="/setLanguage/en"><img src="/images/English.webp" alt="English"></a>
        </div>
        
    </section>

    <nav>
    
        <ul>
        
            <!-- Accueil -->
            <li>Accueil</li>

<!--             Gestion de la connexion via Spring Security Dialect -->
<!--             <li data-th-if="${!#authorization.expression('isAuthenticated()')}"> -->
<!--                 <a href="/login" data-th-text="#{frag-entete.a.connexion}"></a> -->
<!--             </li> -->

<!--             Gestion de la déconnexion via Spring Security Dialect -->
<!--             <li data-th-if="${#authorization.expression('isAuthenticated()')}"> -->
<!--                 <a href="/logout" data-th-text="#{frag-entete.a.deconnexion}"></a> -->
<!--             </li> -->
            
        </ul>
        
    </nav>
    
</header>
