<form xmlns:th="http://www.thymeleaf.org" 
      data-th-fragment="frag-utilisateur-form(action, titreForm)" 
      data-th-action="@{${action}}"
      data-th-object="${utilisateur}" method="post">

    <h1 data-th-text="${titreForm}" ></h1>
    <div data-th-replace="~{fragments/errors/fragment-errors :: frag-errors}"></div>

    <ul class="flex-outer">
		<li data-th-if="${#authorization.expression('isAuthenticated()')}">
            <label for="inputPseudo" data-th-text="#{frag-utilisateur-pseudo}"></label> 
            <input type="text" id="inputPseudo" name="pseudo" required data-th-field="*{pseudo}" readonly/>
            <div class="error-message" data-th-replace="~{fragments/errors/fragment-error :: frag-error('pseudo')}"></div>

            <label for="inputNom" data-th-text="#{frag-utilisateur-nom}"></label> 
            <input type="text" id="inputNom" name="nom" required data-th-field="*{nom}" />
            <div class="error-message" data-th-replace="~{fragments/errors/fragment-error :: frag-error('nom')}"></div>
        </li>
        
       

        <li>
            <label for="inputPrenom" data-th-text="#{frag-utilisateur-prenom}"></label> 
            <input type="text" id="inputPrenom" name="prenom"required data-th-field="*{prenom}" />
            <div class="error-message" data-th-replace="~{fragments/errors/fragment-error :: frag-error('prenom')}"></div>

            <label for="inputEmail" data-th-text="#{frag-utilisateur-email}"></label> 
            <input type="text" id="inputEmail" name="email" required data-th-field="*{email}"  />
            <th:block data-th-if="${#strings.contains(action,'creer')}">
                <div class="error-message" data-th-replace="~{fragments/errors/fragment-error :: frag-error('email')}"></div>
            </th:block>
        </li>

        <li>
            <label for="inputTelephone" data-th-text="#{frag-utilisateur-telephone}"></label> 
            <input type="text" id="inputTelephone" name="telephone" data-th-field="*{telephone}"/>
            <div class="error-message" data-th-replace="~{fragments/errors/fragment-error :: frag-error('telephone')}"></div>
        </li>

		


		<!-- Champ adresse  -->
		<li data-th-if="${#authorization.expression('isAuthenticated()')}">
   			 <label for="inputAdresse" data-th-text="#{frag-utilisateur-adresse}"></label>
   			 <div class="error-message" data-th-replace="~{fragments/errors/fragment-error :: frag-error('adresse')}"></div>

    		<div class="adresse-fields">
       			<input type="text" id="inputRue" name="rue" data-th-field="*{adresse.rue}"/> 
       			<input type="text" id="inputCodePostal" name="codePostale" data-th-field="*{adresse.codePostal}" />
       			<input type="text" id="inputVille" name="ville" data-th-field="*{adresse.ville}"/>
   			</div>
		</li>

		<!-- Champ crédit -->
		<li data-th-if="${#authorization.expression('isAuthenticated()')}">
            <label for="monCredit" data-th-text="#{frag-utilisateur-monCredit}"></label> 
            <input type="number" id="monCredit" name="credit" th:value="*{credit}" disabled="disabled" />
        </li>
        

		<!-- Bouton  Modifier -->
        <nav data-th-if="${#authorization.expression('isAuthenticated()')}">
       		 <div action="/monProfil/detail" method="get"
       		 						onsubmit="return confirm('Êtes-vous sûr de vouloir modifier votre profil ?');">
           		 <button type="submit"  onclick="window.location.href='/monProfil/detail'"
            											data-th-text="#{frag-utilisateur-modifier}"></button>
            </div>
            
           
        </nav> 
	
       
    </ul>
</form>








