<form xmlns:th="http://www.thymeleaf.org" 
		data-th-fragment="frag-utilisateur-form(action, titreForm)" 
		data-th-action="@{${action}}"
		data-th-object="${utilisateur}" method="post">

		<h1 data-th-text="${titreForm}" ></h1>
		<div data-th-replace="~{fragments/errors/fragment-errors :: frag-errors}"></div>

		
		<ul class="flex-outer">
		<li>
			
			
			<label for="inputPseudo" data-th-text="#{frag-utilisateur-pseudo}"></label> 
			<input type="text" id="inputPseudo" required data-th-field="*{pseudo}" />
			<div data-th-replace="~{fragments/errors/fragment-error :: frag-error('pseudo')}"></div>
			
			<label for="inputNom" data-th-text="#{frag-utilisateur-nom}"></label> 
			<input type="text" id="inputNom" required data-th-field="*{nom}" />
			<div	data-th-replace="~{fragments/errors/fragment-error :: frag-error('nom')}"></div>
			
		</li>
		
		<li>
			<label for="inputPrenom" data-th-text="#{frag-utilisateur-prenom}"></label> 
			<input type="text" id="inputPrenom" required data-th-field="*{prenom}" />
			<div data-th-replace="~{fragments/errors/fragment-error :: frag-error('prenom')}"></div>
			
			<label for="inputEmail" data-th-text="#{frag-utilisateur-email}"></label> 
			<input type="text" id="inputEmail" required data-th-field="*{email}"  data-th-readonly="${#strings.contains(action,'detail')}"/>
			<th:block data-th-if="${#strings.contains(action,'creer')}">
				<div data-th-replace="~{fragments/errors/fragment-error :: frag-error('email')}"></div>
			</th:block>
		</li>
		
		<li>
			<label for="inputTelephone" data-th-text="#{frag-utilisateur-telephone}"></label> 
			<input type="text" id="inputTelephone" data-th-field="*{telephone}"/>
			<div	data-th-replace="~{fragments/errors/fragment-error :: frag-error('telephone')}"></div>
		</li>
		
		<li>
		<li>
    		<label for="inputAdresse" data-th-text="#{frag-utilisateur-adresse}"></label>
   			<div data-th-replace="~{fragments/errors/fragment-error :: frag-error('adresse')}"></div>

   			<!-- Utilisation d'un conteneur flex pour les champs d'adresse -->
    		<div class="adresse-fields">
       			<input type="text" id="inputRue" placeholder="ex: 8 rue Léo Lagrange" required data-th-field="*{adresse.rue}" />
        		<input type="text" id="inputCodePostal" placeholder="Code Postal ex: 35131" required data-th-field="*{adresse.codePostal}" />
       			 <input type="text" id="inputVille" placeholder="Ville ex: Saint-Herblan" required data-th-field="*{adresse.ville}" />
    		</div>
		</li>
       			
		<li data-th-if="${!#authorization.expression('isAuthenticated()')}">
    		<label for="motDePasse" data-th-text="#{frag-utilisateur-motDePasse}"></label> 
   			<input type="password" id="mdp" required data-th-field="*{motDePasse}"/>
    		<div data-th-replace="~{fragments/errors/fragment-error :: frag-error('motDePasse')}"></div>
    
    		<label for="motDePasseConfirmation" data-th-text="#{frag-utilisateur-confirmation}"></label>
            <input type="password" id="motDePasseConfirmation" required data-th-field="*{motDePasseConfirmation}" />
            <div th:replace="~{fragments/errors/fragment-error :: frag-error('motDePasseConfirmation')}"></div>
		</li>

		<li data-th-if="${#authorization.expression('isAuthenticated()')}">
    		<label for="monCredit" data-th-text="#{frag-utilisateur-monCredit}"></label> 
		</li>
				
		
		<nav data-th-if="${#authorization.expression('isAuthenticated()')}">
    		<!-- si connecté modifier / modifier motDePasse / Supprimer mon compte / Annuler -->
			<button type="submit" class="validate-button" data-th-text="#{frag-utilisateur-modifier}"></button>
			<button type="submit" class="validate-button" data-th-text="#{frag-utilisateur-modifierMotDePasse}"></button>
    		<button type="submit" class="validate-button" data-th-text="#{frag-utilisateur-supprimerCompte}"></button>
    	    <button type="button" class="cancel-button" onclick="window.location.href='/monProfil'" data-th-text="#{frag-utilisateur-annuler}"></button>
    	
    	</nav>	
    	<nav data-th-if="${!#authorization.expression('isAuthenticated()')}">
    		<!-- si non connecté valider / Annuler -->
    		<button type="submit" class="validate-button" data-th-text="#{frag-utilisateur-valider}"></button>
   		    <button type="button" class="cancel-button" onclick="window.location.href='/'" data-th-text="#{frag-utilisateur-annuler}"></button>
				
		</nav>
		</ul>
</form>
