<form xmlns:th="http://www.thymeleaf.org"
	data-th-fragment="frag-modif-motDePasse-form(action, titreForm)"
	data-th-action="@{${action}}" data-th-object="${utilisateur}"
	method="post">

	<h1 data-th-text="${titreForm}"></h1>
	<div
		data-th-replace="~{fragments/errors/fragment-errors :: frag-errors}"></div>


	<ul class="flex-outer">
	
	<!-- Champ caché pour envoyer le pseudo -->
        <input type="hidden" th:field="*{pseudo}" />
		
		
		<li>
		
			<label for="motDePasseSaisi" data-th-text="#{frag-utilisateur-motDePasseSaisi}"></label>
			<input	type="password" id="mdpSais" required th:field="*{motDePasseSaisi}" />
			<div th:replace="~{fragments/errors/fragment-error :: frag-error('motDePasseSaisi')}"></div>
		
		</li>
		<li>

			<label for="motDePasseNew" data-th-text="#{frag-utilisateur-motDePasseNew}"></label> 
			<input type="password" id="mdpNew" required th:field="*{motDePasseNew}" />
			<div th:replace="~{fragments/errors/fragment-error :: frag-error('motDePasseNew')}"></div>

		</li>
		<li>

			<label for="motDePasseConfirmation" data-th-text="#{frag-utilisateur-confirmation}"></label>
			<input type="password" id="mdpConfirmation" required th:field="*{motDePasseConfirmation}" />
			<div th:replace="~{fragments/errors/fragment-error :: frag-error('motDePasseConfirmation')}"></div>

		</li>





		<nav>
			<button type="submit" class="validate-button" onclick="window.location.href='/modifier-motDePasse'"
														data-th-text="#{frag-utilisateur-modifier}"></button>

			<button type="button" class="cancel-button"	onclick="window.location.href='/monProfil'"
														data-th-text="#{frag-utilisateur-annuler}"></button>
		</nav>

	</ul>
</form>