
<nav xmlns:th="http://www.thymeleaf.org" data-th-fragment="frag-nav">
	<ul>
		<li><a href="/" data-th-text="#{index.title}"></a></li>
		
		<!-- S'inscrire-->
        <li data-th-if="${!#authorization.expression('isAuthenticated()')}">
            <a href="/creer" data-th-text="#{index.new}"></a>
        </li>

        <!-- Créer une nouvelle vente -->
        <li data-th-if="${#authorization.expression('isAuthenticated()')}">
            <a href="/article/creer" data-th-text="#{index.vendre}"></a>
        </li>
				
		 <!-- Gestion de la connexion via Spring Security Dialect-->
         <li data-th-if="${!#authorization.expression('isAuthenticated()')}">
             <a href="/login" data-th-text="#{frag-entete.a.connexion}"></a>
         </li>
         
         <!-- Mon Profil -->
         <li data-th-if="${#authorization.expression('isAuthenticated()')}">
            <a href="/monProfil" data-th-text="#{frag-utilisateur-monProfil.title}"></a>
         </li>
                  
         <!--Gestion de la déconnexion via Spring Security Dialect-->
         <li data-th-if="${#authorization.expression('isAuthenticated()')}">
              <a href="/logout" data-th-text="#{frag-entete.a.deconnexion}"></a>
         </li>
	</ul>
    <!-- Encadré affichant la date / participant si connecté-->
    <div id="date-encart" class="date-encart">
        <p data-th-text="#{frag-nav.dateDuJour} + ${#dates.format(#dates.createNow(), 'dd/MM/yyyy')}"></p>
        <p data-th-if="${#authorization.expression('isAuthenticated()')}" data-th-text="#{frag-nav.participant} + ${#authentication.name}"></p>
    </div>
</nav>
