<!DOCTYPE html>
<!-- Mise en place du layout -->
<!-- Accueil comme titre de page -->
<!-- La balise main définit par la classe CSS 'center-main' comme paramètre contenuPage -->

<html xmlns:th="http://www.thymeleaf.org"
	data-th-replace="~{layouts/layout :: layout-encheres( 
					titrePage=~{:: title},
					contenuPage=~{:: .center-main},
					ressourcesSupp=~{})}">

<head>

    <!-- Utilisation de th:text pour insérer dynamiquement le titre de la page -->
    <title data-th-text="#{index.title}"></title>

</head>

<body>

    <main class="center-main">
       
        <section class="center-section">
            <h1 style="text-align: center;" data-th-text="#{index.h1}"></h1>
        </section>
        
    </main>

</body>

</html>
