<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	data-th-replace="~{layouts/layout :: layout-encheres( 
					titrePage=~{:: title},
					contenuPage=~{:: main},
					ressourcesSupp=~{:: #ressources-css})}" lang="fr">

<head>
<!-- Films comme titre de page -->
<title data-th-text="#{view-encheres.title}"></title>
<!-- Ajout de CSS general.css -->
<th:block id="ressources-css">
	<link rel="stylesheet" data-th-href="@{/css/general.css}">
	<link rel="stylesheet" data-th-href="@{/css/filter-form.css}">
	<script type="text/javascript" data-th-src="@{/js/actions.js}" defer></script>
</th:block>
</head>
<body>
	<main>
		<h1 data-th-text="#{view-encheres.h1}"></h1>
		<form 	class="filter-form"
				data-th-action="@{/}" method="get">
			<section class="filter-section">
				<div class="general-filters">
					<div class="filter-selectors">
						<h2 data-th-text="#{view-encheres.filtres}">Filtres :</h2>
						<label hidden for="keyword"></label>
						<input type="text" name="keyword" id="keyword" size="50" data-th-value="${keyword}"
							   data-th-placeholder="#{view-encheres.filtre.search.placeholder}"/>
						<div class="filter-cat">
							<label for="catSelect" data-th-text="#{view-encheres.filtre.categorie}"></label>
							<select name="categorieId" id="catSelect">
								<option data-th-value="null" data-th-text="#{view-encheres.filtre.categorie.toutes}"></option>
								<option
										data-th-each="c : ${categoriesEnSession}"
										data-th-text="${c.libelle}"
										data-th-value="${c.id}"
										data-th-selected="${#bools.isTrue(categorieId == c.id)}"
								></option>
							</select>
						</div>
					</div>
					<div class="filter-buttons">
						<button type="submit" data-th-text="#{view-encheres.filtres.button.rechercher}"></button>
						<button><a href="/" data-th-text="#{view-encheres.filtres.button.annuler}"></a></button>
					</div>
				</div>
				<div class="personal-filters" data-th-if="${#authorization.expression('isAuthenticated()')}">
					<div class="personal-filters-section">
						<div class="personal-filters-section-label">
							<input
									type="radio"
									name="achatsOuVentes"
									id="achats"
									data-th-checked="${#bools.isTrue(achatsOuVentes == 0)}"
									value="0"
									onchange="disableSelected(1)"
							>
							<label for="achats" data-th-text="#{view-encheres.filtres.mode.achats}"></label>
						</div>
						<select name="achats" data-th-disabled="${#bools.isTrue(achatsOuVentes == 1)}">
							<option value="0" data-th-selected="${#bools.isTrue(achats == 0)}" data-th-text="#{view-encheres.filtres.achats.ouvertes}"></option>
							<option value="1" data-th-selected="${#bools.isTrue(achats == 1)}" data-th-text="#{view-encheres.filtres.achats.en-cours}"></option>
							<option value="2" data-th-selected="${#bools.isTrue(achats == 2)}" data-th-text="#{view-encheres.filtres.achats.remportees}"></option>
						</select>
					</div>
					<div class="personal-filters-section">
						<div class="personal-filters-section-label">
							<input
									type="radio"
									name="achatsOuVentes"
									id="ventes"
									value="1"
									data-th-checked="${#bools.isTrue(achatsOuVentes == 1)}"
									onchange="disableSelected(0)"
							>
							<label for="ventes" data-th-text="#{view-encheres.filtres.mode.ventes}"></label>
						</div>
						<select name="ventes" data-th-disabled="${#bools.isTrue(achatsOuVentes == 0)}">
							<option value="1" data-th-selected="${#bools.isTrue(ventes == 1)}" data-th-text="#{view-encheres.filtres.ventes.en-cours}"></option>
							<option value="0" data-th-selected="${#bools.isTrue(ventes == 0)}" data-th-text="#{view-encheres.filtres.ventes.non-debutees}"></option>
							<option value="2" data-th-selected="${#bools.isTrue(ventes == 2)}" data-th-text="#{view-encheres.filtres.ventes.terminees}"></option>
						</select>
					</div>
				</div>
			</section>
		</form>
		<th:block data-th-if="${!#lists.isEmpty(encheresActives)}">
			<ul class="article-ul">
				<li class="article-cards" data-th-each="article : ${encheresActives}">
					<h3 data-th-text="${article.nom}"></h3>
					<p>Prix : 
						<span data-th-text="${article.prixVente} ? ${article.prixVente} : ${article.prixInitial}"></span>
					 point(s)</p>
					<p>Fin de l'enchère : <span data-th-text="${#temporals.format(article.dateFinEncheres, 'dd/MM/yyyy')}"></span></p>
					<p>Vendeur : <span data-th-text="${article.vendeur.pseudo}"></span></p>
				</li>
			</ul>
		</th:block>
		<th:block data-th-unless="${!#lists.isEmpty(encheresActives)}">
			<h2 data-th-text="#{view-encheres.empty}"></h2>
		</th:block>
	</main>
</body>
</html>
