<!DOCTYPE html>
	<html xmlns:th="http://www.thymeleaf.org" 
		data-th-replace="~{layouts/layout :: layout-encheres( 
    	titrePage=~{:: title},
   		contenuPage=~{:: main},
    	ressourcesSupp=~{:: #ressources-css})}">


<head>

	<!-- Créer comme titre de page -->
	 <title data-th-text="#{frag-utilisateur-inscription.title}"></title>
	
	<!-- Ajout de CSS utilisateur-form.css -->
	<th:block id="ressources-css">
		<link rel="stylesheet" data-th-href="@{/css/utilisateur-form.css}" />
		<link rel="stylesheet" data-th-href="@{/css/error.css}" />
	</th:block>
	
	<!-- Ajouter le fichier JavaScript externe -->
	<script src="/js/confirmationMDP.js" defer></script>
	
</head>

<body>

	<main>
	
		<!-- Utilisation du fragment formulaire -->
		<div data-th-replace="~{fragments/fragment-utilisateur-detail :: 
		frag-utilisateur-form('/creer', 'Inscription')}">
		</div>
	
	</main>
	
</body>

</html>
