<!DOCTYPE html>
<html lang="en"
        xmlns:th="http://www.thymeleaf.org"
        data-th-replace="~{layouts/layout :: layout-encheres(
                                                        titrePage=~{:: title},
                                                        contenuPage=~{:: main},
                                                        ressourcesSupp=~{:: #ressources-css}
                                                        )}">
<head>
    <meta charset="UTF-8">
    <title data-th-text="#{creer-article.title}"></title>
    <th:block id="ressources-css">
        <link rel="stylesheet" data-th-href="@{/css/general.css}">
        <link rel="stylesheet" data-th-href="@{/css/utilisateur-form.css}">
        <link rel="stylesheet" data-th-href="@{/css/error.css}">
    </th:block>
</head>
<body>
    <main>
        <h1>Nouvelle Vente</h1>
        <form data-th-action="@{/article/creer}" method="POST" data-th-object="${article}">
            <div data-th-replace="~{fragments/errors/fragment-errors :: frag-errors}"></div>
            <ul class="flex-outer">
                <li>
                    <label for="inputNom" data-th-text="#{creer-article.input.nom}"></label>
                    <input type="text" id="inputNom" required data-th-field="*{nom}" placeholder="Un fauteuil" />
                    <div data-th-replace="~{fragments/errors/fragment-error :: frag-error('nom')}"></div>
                </li>
                <li>
                    <label for="inputPrix" data-th-text="#{creer-article.input.prix}"></label>
                    <input type="number" id="inputPrix" required data-th-field="*{prixInitial}" />
                    <div data-th-replace="~{fragments/errors/fragment-error :: frag-error('prixInitial')}"></div>
                </li>
                <li>
                    <label for="inputCategorie" data-th-text="#{creer-article.input.categorie}"></label>
                    <select id="inputCategorie" required data-th-field="*{categorie}">
                        <option
                                data-th-each="cat : ${categoriesEnSession}"
                                data-th-value="${cat.id}"
                                data-th-text="${cat.libelle}"
                        ></option>
                    </select>
                    <div data-th-replace="~{fragments/errors/fragment-error :: frag-error('categorie')}"></div>
                </li>
                <li>
                    <label for="inputDateDebut" data-th-text="#{creer-article.input.date.debut}"></label>
                    <input
                            type="date"
                            id="inputDateDebut"
                            required
                            data-th-field="*{dateDebutEncheres}"
                    />
                    <div data-th-replace="~{fragments/errors/fragment-error :: frag-error('dateDebutEncheres')}"></div>
<!--                            onfocus="(this.type='date')"-->
<!--                            onblur="(this.type='text')"-->
<!--                            placeholder="${#dates.format(#dates.createNow(), 'dd/MM/yyyy')}"-->
<!--                            data-th-value="${article.dateDebutEncheres}"-->
                </li>
                <li>
                    <label for="inputDescription" data-th-text="#{creer-article.input.description}"></label>
                    <textarea id="inputDescription" required data-th-field="*{description}" placeholder="Un fauteuil rouge"></textarea>
                    <div data-th-replace="~{fragments/errors/fragment-error :: frag-error('description')}"></div>
                </li>
                <li>
                    <label for="inputDateFin" data-th-text="#{creer-article.input.date.fin}"></label>
                    <input type="date" id="inputDateFin" required data-th-field="*{dateFinEncheres}" data-th-value="${article.dateFinEncheres}" />
                    <div data-th-replace="~{fragments/errors/fragment-error :: frag-error('dateFinEncheres')}"></div>
                </li>
                <li>
                    <label for="inputAdresse" data-th-text="#{creer-article.input.adresse}"></label>
                    <select id="inputAdresse" required data-th-field="*{adresseRetrait}">
                        <option
                                data-th-each="adresse : ${adressesDisponibles}"
                                data-th-value="${adresse.id}"
                                data-th-text="${adresse.rue + ' ' + adresse.codePostal + ' ' + adresse.ville}"
                        ></option>
                    </select>
                    <div data-th-replace="~{fragments/errors/fragment-error :: frag-error('adresseRetrait')}"></div>
                </li>
                <li>
                    <button type="submit" data-th-text="#{creer-article.submit.next}"></button>
                </li>
            </ul>
        </form>
    </main>
</body>
</html>